<p style="color: green"><%= notice %></p>

<%= render @post %>

<div id="comments">
  <h1>Comments</h1>
  <!-- The `comments` method returns an array-like collection, so we can call `each` on it: -->
  <% @post.comments.each do |comment| %>
    <div>
      <strong><%= comment.name %> says:</strong>
      <%= comment.content %>
    </div>
  <% end %>
</div>
<br>
<div>
  <%= link_to "Edit this post", edit_post_path(@post) %> |
  <%= link_to "Back to posts", posts_path %>

  
</div>
<br>
<%= button_to "Destroy this post", @post, method: :delete %>
